@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.font-rancho {
  font-family: 'Rancho', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.font-rancho {
  font-family: 'Rancho', cursive;
}

.bg-coffee-texture {
  background-image: url('https://i.ibb.co/9g7046n/15.jpg'); 
  background-size: cover;
}